/*--------------------------------------------------------------
Extra styles for single.php template.

- Define margins of content as skinnier than a normal page.
- Define post header on desktop widths with some additional styles.
--------------------------------------------------------------*/
.single-studentorg {

	.entry-header {
		padding: 2rem 0;
		border-bottom: 0;

		.title-lockup {

			svg {
				margin-right: $uds-size-spacing-3;
			}

			.website {
				clear: both;
				margin-bottom: 0;
				padding-top: $uds-size-spacing-2;
			}
		}
	}

	.secondary {

		margin-bottom: $uds-size-spacing-4;
		padding-bottom: $uds-size-spacing-2;
		border-bottom: 1px solid $uds-color-base-gray-4;

		h3 svg {
			margin-right: $uds-size-spacing-2;
		}

		.orgtype-list {
			ul {
				margin: 0;
				padding: 0;
				display: flex;
				gap: $uds-size-spacing-2;
			}

			li {
				list-style-type: none;
			}

			.card-tags .badge {
				padding: .25rem .75rem;
			}
		}

		.external-links {
			h3 {
				margin-top: $uds-size-spacing-8;
			}

			.social-links {
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: row;
				gap: $uds-size-spacing-2;

				li {
					list-style-type: none;
					font-size: 2rem;

					a {
						color: $uds-color-base-gray-5;
					}
				}
			}
		}
	}

	.entry-footer {}
}

/*--------------------------------------------------------------
Entry-Header on desktop
--------------------------------------------------------------*/
@include media-breakpoint-up($lg) {
	.single-studentorg {
		.entry-header {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 20% auto;
			gap: $uds-size-spacing-4;
			height: 100%;

			padding-top: $uds-size-spacing-6;
			padding-bottom: $uds-size-spacing-6;

			.title-lockup {
				grid-column: 2;
				align-self: center;
				padding-bottom: $uds-size-spacing-1;
				border-bottom: 3px dotted $uds-color-base-gray-3;
			}

			.wp-post-image {
				grid-column: 1;
				grid-row: 1;
				aspect-ratio: auto;
				max-height: none;
			}
		}

		.secondary {
			border-bottom: 0;
		}

		.entry-header.no-thumbnail {
			display: grid;
			grid-template-rows: 1fr auto;
			grid-template-columns: 1fr;
		}
	}
}
